spark/jars/
*.jar
spark/jars.rar
minio
qdrant
postgres
airflow/dags/__pycache__/
airflow/logs/
airflow/plugins/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
spark/VnCoreNLP-1.2/
spark/phobert_multitask_final/
spark/Vietnamese-Sentiment-visobert/

